{% extends "base.html" %}

{% block title %}My profile{% endblock title %}

{% block content %}

    <h1>Profile page</h1>

    <p>This is your profile page.It is only visible to you!</p>

    <img width="150px" src="{{profile_data.avatar_url}}" alt="Profile picture">

    <p>Username: {{profile_data.login}}</p>
    <p>Full name: {{profile_data.name}}</p>
    <p>Location: {{profile_data.location}}</p>
    <p>Email: {{profile_data.email}}</p>
    <p>Number of public repos: {{profile_data.public_repos}}</p>

{% endblock content %}